.navList {
    display: flex;
}

.navListItem a {
    padding: 0.8rem;
    color: #fff;
    text-decoration: none;
}

.navListItem a:hover,
.navListItem a:active{
    background: rgba(255,255,255,.1);
}